.Asset {
    width: 425px;
    min-width: 350px;
    margin: 20px;

    &__header {
        text-align: start;
    }

    &__title {
        display: inline-block;
        margin-right: 8px;
        font-weight: 700;
    }

    &__quantity-input {
        margin: 0;
    }

    &__action {
        height: 40px;
        color: white;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}
