.Asset {
    &__header {
        background-color: #e5f4de;
        color: #8da98c;
    }

    &__action {
        background-color: rgb(40, 179, 40);
        opacity: 0.7;

        &:hover {
            background-color: rgb(0, 175, 0);
            opacity: 1;
        }
    }
}