.Asset {
    &__header {
        background-color: #e0f0f8;
        color: #8aabba;
    }

    &__action {
        background-color: red;
        opacity: 0.7;

        &:hover {
            background-color: red;
            opacity: 1;
        }
    }
}