.Footer {
    text-align: center;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    color: white !important;
    background-color: #3f50b5 !important;
}