.Header {
    margin-bottom: 16px;

    &__tab {
        margin: 0 16px;
    }

    &__link {
        text-decoration: none;
        color: white;
    }

    &__funds {
        margin: auto 20px !important;
    }
}
